* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    margin-top: 5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    margin: 0 0 5rem 1rem 0;
    position: relative;
    left: 30rem;
}

.topofheader {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin: 0.75rem;
}

.instructions1, .instructions2, .instructions3, .start {
    text-align: center;
    margin: 0.5rem;
}

.instructions1 {
    margin-top: 4rem
}

.instructions3 {
    margin-bottom: 4rem;
}

.startbtn {
    background-color: white;
}

.anschoices {
    position: relative;
    left: 30rem;
}

.ans1, .ans2, .ans3, .ans4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1.5rem;
}

.endofgame {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.resultalert {
    margin-top: 1rem;
    border-top: 5px solid gray;
    padding-top: 1.5rem;
    text-align: center;
}

/* HIGH SCORES PAGE */
