* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    margin-top: 5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

h4 {
    margin: 0 0 5rem 1rem 0;
    position: relative;
    left: 30rem;
}

.topofheader {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin: 0.75rem;
}

.instructions, .start {
    text-align: center;
}

.instructions {
    margin: 6rem 0 4rem 0;
}

.startbtn {
    background-color: white;
}

.anschoices {
    position: relative;
    left: 30rem;
}

.ans1, .ans2, .ans3, .ans4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1.5rem;
}