/* Declare Variables */
:root {
    --red: rgb(250, 44, 44);
    --white: white;
    --blue: blue;
}

/* Universal Selector */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Element Selectorss */
h2 {
    margin-top: 5rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}

h3 {
    margin: 0 0 5rem 1rem 0;
    position: relative;
    left: 30rem;
}

/* Class Selectors */
.topofheader {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin: 0.75rem;
}

.instructions1,
.instructions2,
.instructions3,
.start {
    text-align: center;
    margin: 0.5rem;
    font-weight: bold;
}

.instructions1 {
    margin-top: 10rem
}

.instructions3 {
    margin-bottom: 4rem;
}

.startbtn {
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 0.5rem 0.75rem;
    color: var(--white);
    background-color: var(--red);
}

.startbtn:hover {
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 0.5rem 0.75rem;
    color: var(--red);
    background-color: var(--blue);
}

.anschoices {
    position: relative;
    position: absolute;
    left: 30rem;
}

.ans1,
.ans2,
.ans3,
.ans4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1.5rem;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--white);
    border-color: var(--red);
}

.endofgame {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15rem;
}

.numansquestions,
.finaltime {
    margin: 4rem 0 1rem 0;
}

.quizbody {
    margin-top: 10rem;
}

.resultalert {
    opacity: 0;
    color: var(--blue);
    width: 20rem;
    padding: 1.5rem;
    border-top: 0.2rem solid var(--blue);
}

.resultalert.animate {
    animation: anime 1s 1;
}

.link {
    text-decoration: none;
    border: 2px solid var(--blue);
    background-color: var(--red);
    padding: 0.25rem 0.5rem;
    color: var(--white);
    border-radius: 15px;
}

.link:hover {
    text-decoration: none;
    border: 2px solid var(--red);
    background-color: var(--blue);
    padding: 0.25rem 0.5rem;
    color: var(--white);
    border-radius: 15px;
}

.timer {
    border: 2px solid var(--blue);
    background-color: var(--red);
    padding: 0.25rem 0.5rem;
    color: var(--white);
    border-radius: 15px;
}

/* Animating Results */
@keyframes anime {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}